<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <h3>Bạn có chắc xóa thông tin người dùng?</h3>
    <p class="alert-danger">@(ViewBag.Message ?? "")</p>
    <p class="alert-danger">@(TempData["DeleteMessage"] ?? "")</p>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.FullName)</dt>
            <dd>@Html.DisplayFor(model => model.FullName)</dd>
            <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
            <dd>@Html.DisplayFor(model => model.UserName)</dd>
            <dt>@Html.DisplayNameFor(model => model.UserRight)</dt>
            <dd>@(Model.UserRight == 1 ? "Người dùng" : "Quản trị hệ thống")</dd>
            <dt>@Html.DisplayNameFor(model => model.AllowInsert)</dt>
            <dd>@(Model.AllowInsert == true ? "Cho phép" : "Chưa được cấp quyền")</dd>
            <dt>@Html.DisplayNameFor(model => model.AllowUpdate)</dt>
            <dd>@(Model.AllowUpdate == true ? "Cho phép" : "Chưa được cấp quyền")</dd>
            <dt>@Html.DisplayNameFor(model => model.AllowDelete)</dt>
            <dd>@(Model.AllowDelete == true ? "Cho phép" : "Chưa được cấp quyền")</dd>
        </dl>
        <div>
            <hr />
            @using (Html.BeginForm("DeleteConfirm", "User", new { UserID = Model.UserID }))
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <input type="button" value="Trở lại" class="btn btn-default"
                           onclick="location='/User/Index'" />
                </div>
            }
        </div>
    </div>
    
</body>
</html>